    *{
      outline:none;
      font-family: "Montserrat";
    }
    
    /* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: grey; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #b30000; 
}
    
    .buttons {
      position: absolute;
      bottom:0;
      left: 0;
      width: 100%;
      height: 5em;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 10;
    }

    .say-hi-button {
      float: left;
      margin-right: 30px;
      padding: 0.25em;
      border-radius: 50px;
      border: none;
      background: #297428;
      width: 75px;
      height: 75px;
    }
    

    #video_box{
      display: flex;
      justify-content: center;
      align-items: center;
      width:100%;
      height:0;
      background:rgba(255, 255, 255, 0.3);
    }
    .test_board{
      position: absolute;
      margin-top:-100px;
      width: 340px;
      height:500px;
      background: #ffffff;
      border-radius: 30px;
     
    }
    
    .test_board>div:nth-child(1){
      text-align:center;
      height:70px;
    }
    .test_board>div:nth-child(2){
      height:40px;
    }
    .test_board>div:nth-child(3){
      height:390px;
      margin-top:-20px;
      padding: 40px 15px 0px 15px;
      border-radius:0 0 30px 30px;
      background: #E8FDE8;
      color:#000000;
     
    }
    
    .test_board h1{
      font-size: 24px;
    }
    .test_board h2{
      font-size:16px;
      margin-bottom: 7px;
    }
    .test_board p{
      font-size:16px;
      margin:0 0 7px 0;
    }
    .test_board iframe{
      width: 300px;
      height:200px;
      display: block;
      margin: 10px auto;
    }
    

.button-1 {
  float: left;
  align-items: center;
  background-color: #297428;
  width:85px;
  height: 40px;
  border: 0;
  border-radius: 100px;
  box-sizing: border-box;
  color: #E8FDE8;
  cursor: pointer;
  display: inline-flex;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 20px;
  overflow: hidden;
  padding: 0;
  text-align: center;
  touch-action: manipulation;
  transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
}

.button-1:hover,
.button-1:focus,
  .button-1:active { 
  background:#E8FDE8;
  color: #297428;
}


.button-1:disabled { 
  cursor: not-allowed;
  background: rgba(0, 0, 0, .08);
  color: rgba(0, 0, 0, .3);
}

.button-2{
  margin: 0 auto;
  align-items: center;
  background-color: #fcba03;
  width:150px;
  height: 40px;
  border: 0;
  border-radius: 100px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: block;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 20px;
  overflow: hidden;
  padding: 0;
  text-align: center;
  touch-action: manipulation;
  transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
}
    
    
    
.close-btn {
  width: 52px;
  height: 52px;
  background: #fcba03;
  border-radius: 50px;
  position: relative;
  transform: rotate(0deg);
  transition: .5s ease-in-out;
  cursor: pointer;
}

.close-btn span {
  display: block;
  position: absolute;
  left: 3px;
  top: 22px;
  height: 8px;
  width: 90%;
  background: #ffffff;
  border-radius: 4px;
  transform: rotate(0deg);
  transition: .2s ease-in-out;
}

.close-btn span:nth-child(1) {
  transform: rotate(45deg);
}
.close-btn span:nth-child(2) {
  transform: rotate(-45deg);
}

    .video_menu{
      position: absolute;
      margin-top: 100px;
      background:#E8FDE8;
      width: 330px;
      height:450px;
      border-radius:30px;
      overflow-y: scroll;
      justify-content: center;
      align-items: center;
      text-align:center;
    }
    
    
    
    .video_item{
      display: block;
      float:top;
      width: 300px;
      height:300px;
      margin:10px auto;
      text-align:center;
    }  

    .video_item>img,
     .video_item>p{
      display: inline-block;
      margin: 0;
    }
    .video_item img{
      width:100%;
    }

    #mid-button div{
      width:75px;
      height:75px;
      padding:0;
    }
    #mid-button img{
      width:80%;
      margin:25% 0 0 -10%;
    }